[2022-01-01 09:42] pyrog commented on #96
Nodes survey date could also taken from picture exif dates (see #249).

[2022-01-04 13:28] pyrog opened #250 "[Feature Request] Display pictures"
Display pictures of "Nodes", guideposts, points of interest… (at least in Route planner)

- Node  [187067657](https://knooppuntnet.nl/en/analysis/node/187067657) [`image`](https://i.imgur.com/ijfoWRz.jpg)
- Node  [1906610156](https://knooppuntnet.nl/en/analysis/node/1906610156) [`mapillary`](https://www.mapillary.com/app/?focus=photo&pKey=514313569590524&lat=50.979225999972&lng=3.561471&z=17&x=0.8

[2022-01-04 13:30] pyrog opened #251 "[Feature Request] Add link to pictures in analyser"
See #249 and #250 for examples.

[2022-01-07 22:47] vmarc commented on #243
NetworkInfoExtraAnalyzer has been adapted.

Node [9250936850](https://www.openstreetmap.org/node/9250936850) is no longer reported as NetworkExtraMemberNode in network [Cœur du Jura](https://knooppuntnet.nl/nl/analysis/network/13438459/facts).

[2022-01-07 22:47] #243 closed, assigned to vmarc

[2022-01-08 12:57] vmarc commented on #238
Fixed in release v4.0 (currently only on experimental).

---

This history of network [13442046](https://www.openstreetmap.org/relation/13442046) before the change:

![network-history-before](https://user-images.githubusercontent.com/6596480/148644803-ab07bec1-2634-4aaf-86be-503f75dc8cd6.png)

- The changeset (113808106) where the network changed to a route is missing from the history.
- While pro

[2022-01-08 12:57] #238 closed, assigned to nobody

[2022-01-08 14:05] vmarc commented on #94
Resolved in release v4.0 (currently only on experimental), see #238.

[2022-01-08 14:05] #94 closed

[2022-01-08 14:10] vmarc commented on #47
Resolved in release v4.0.

[2022-01-08 14:10] #47 closed

[2022-01-08 14:53] vmarc commented on #51
Resolved in release v4.0.

[2022-01-08 14:53] #51 closed

[2022-01-08 15:29] vmarc commented on #61
Relation [2827679](https://www.openstreetmap.org/relation/2827679) does not have the "network:type=network_node" tag and is therefore not (mis-)interpreted anymore.

[2022-01-08 15:29] #61 closed

[2022-01-08 18:35] UncleOwen opened #252 "Filter for unexpected route count"
Hi,

it would be great, if there was a way to filter the /nodes page for nodes with an "unexpected route count". Or any other way to list only those with an unexpected route count. Weren't they listed on /facts some time ago?

(I use "unexpected route count" as my "TODO" list - where is a route missing that I still need to survey?)

[2022-01-08 22:27] vmarc commented on #252
Yes, good idea.

There currently is the [IntegrityCheckFailed](https://knooppuntnet.nl/en/analysis/cycling/de/facts/IntegrityCheckFailed) page, but that does not seem to contain nodes that are not in a network. For now, there is  no such page when doing location based analysis.

[2022-01-09 11:17] vmarc commented on #252
The filter has been added in the upcoming v4.0 release:

Example pages:
- [Schleswig-Holstein](https://experimental.knooppuntnet.nl/de/analysis/cycling/de/Deutschland:Schleswig-Holstein/nodes)
- [Deutschland](https://experimental.knooppuntnet.nl/de/analysis/cycling/de/Deutschland/nodes)

[2022-01-09 11:17] #252 closed, assigned to nobody

[2022-01-12 12:46] pyrog opened #253 "Duplicated orphan node"
Node [Teumelet / o](https://knooppuntnet.nl/en/analysis/node/620168928) appear twice in [Orphan nodes](https://knooppuntnet.nl/en/analysis/hiking/fr/orphan-nodes).

It have the tags `rwn_ref` and `lwn_name`.

[2022-01-13 17:13] vmarc opened #254 "[Feature Request] Links to load nodes/routes in JOSM"
In various analysis pages, add links to load nodes or routes in JOSM (using the remote control feature).

Use limits for the number of objects to be loaded by JOSM, in order not to overload the OpenStreetMap API.

Thanks to @pyrog for this suggestion.

---
Example in facts pages:

![RouteNameMissing](https://user-images.githubusercontent.com/6596480/149376409-9b1123f0-a1c4-4626-9939-a4e5ef509780.p

[2022-01-13 17:40] vmarc commented on #253
In release 3 this node is displayed twice in the orphan node list, once as rwn node and once as lwn node.  In release 4 the node is included only once (same on location nodes page).

See [unit test code](https://github.com/vmarc/knooppuntnet/blob/develop/server/src/test/scala/kpn/server/analyzer/engine/analysis/caseStudies/Issue253_DoubleTransportNode.scala).

Another problem with this node in rel

[2022-01-13 17:40] #253 closed, assigned to nobody

[2022-01-13 20:11] vmarc commented on #148
Resolved in release 4.

See [test code](https://github.com/vmarc/knooppuntnet/blob/develop/server/src/test/scala/kpn/server/analyzer/engine/analysis/caseStudies/Issue148_NetworkToRoute.scala).

[2022-01-13 20:11] #148 closed

[2022-01-14 17:25] vmarc commented on #247
Resolved in release 4.

See [unit test code](https://github.com/vmarc/knooppuntnet/blob/develop/server/src/test/scala/kpn/server/analyzer/engine/analysis/caseStudies/Issue247_RouteRedundantNodes.scala).

[2022-01-14 17:25] #247 closed, assigned to vmarc

[2022-01-14 18:08] jdhoek commented on #237
Zie ik hier hetzelfde probleem bij [deze node](https://www.openstreetmap.org/node/317326279)? 58 is de `rcn` ref, 82 de `rwn`. 34 en 92 iets naar het oosten net zo.

![Screenshot from 2022-01-14 19-01-41](https://user-images.githubusercontent.com/683699/149563483-32da819d-b2bd-4539-b37d-fb66f83574c2.png)

![Screenshot from 2022-01-14 19-03-55](https://user-images.githubusercontent.com/683699/14956

[2022-01-14 20:16] vmarc commented on #237
Inderdaad, dit is hetzelfde probleem. Na een totale herberekening van alle kaarttegels worden de knooppunten nu wel juist weergegeven geloof ik.  De logica voor de onmiddelijke herbereking van kaarttegels die geimpacteerd zijn door node of route veranderingen, werkt momenteel niet juist. Dit mechanisme wordt veranderd in knooppuntnet release 4 (komt hopelijk over een maand of zo). Dan zou het prob

[2022-01-14 20:22] jdhoek commented on #237
Het lijkt nu inderdaad weer goed. Bedankt!

[2022-01-14 21:08] vmarc commented on #4
Resolved in release 4.

See [unit test code](https://github.com/vmarc/knooppuntnet/blob/develop/server/src/test/scala/kpn/server/analyzer/engine/analysis/caseStudies/Issue4_RedundantNodes.scala).

[2022-01-14 21:08] #4 closed

[2022-01-16 11:50] vmarc commented on #220
Resolved in release 4.

- See [unit test code](https://github.com/vmarc/knooppuntnet/blob/develop/server/src/test/scala/kpn/server/analyzer/engine/analysis/caseStudies/Issue220_LoopRoute.scala).

- [route release 3](https://knooppuntnet.nl/nl/analysis/route/11829926)

- [route release 4](https://experimental.knooppuntnet.nl/nl/analysis/route/11829926)

[2022-01-16 11:50] #220 closed, assigned to vmarc

[2022-01-22 08:59] vmarc commented on #205
The logic for route names has been changed (release 4 only) so that if there are no route tags with the route name, the route name is derived from the names of the nodes in the route.

This way there currently are no hiking routes in France anymore with RouteNameMissing.

I believe following routes would now benefit from not having the "note" tag anymore (in release 4):

- [13519504](https://exper

[2022-01-22 08:59] #205 closed, assigned to nobody

[2022-01-22 09:01] vmarc commented on #233
Resolved in release 4. No more RouteNameMissing when the route name can be derived from the names of the nodes in the route.

[2022-01-22 09:01] #233 closed, assigned to vmarc

[2022-01-22 09:13] vmarc commented on #234
At this moment the analysis logic cannot derive node names from "Les Choseaux - Verneys - Les Choseaux - Verneys". It is unclear how to make the logic such that it picks the right " - " to split up the two node names (based on the route name string only).

Route name "Les Choseaux-Verneys - Les Choseaux-Verneys" would work ok.

Another option could perhaps be to come up with a different separator,

[2022-01-22 09:13] #234 closed, assigned to vmarc

[2022-01-25 17:16] vmarc commented on #183
Resolved in release 4.

[2022-01-25 17:16] #183 closed

[2022-01-28 17:16] vmarc commented on #225
The location definitions for France in knooppuntnet have been investigated one more time.

As a result of a suggestion by @pyrog in telegram, instead of only looking for value _"CC"_ (Community of communes) in the tag with key [local_authority:FR](https://wiki.openstreetmap.org/wiki/Key%3Alocal_authority%3AFR), the analysis is now also looking at _"CU"_, _"CA"_ and _"metropole"_. So instead of jus

[2022-01-29 07:42] pyrog commented on #225
The 4 cities/island should be kept. I don't know if they have yet node networks, but potentially yes.

Métropole du Grand Paris seem too big to be useful so it could be removed from the tree.
(We should ask to local contributors).

You could drop the municipality level, but keep the 4 islands in the tree (at the same level than intermunicipality).

  - `fr-1-22` Côtes-d'Armor  (10)
    -  `fr-1-22

[2022-01-29 08:06] pyrog commented on #225
I forgot, could you add [DROM](https://fr.wikipedia.org/wiki/Département_et_région_d%27outre-mer#Départements_et_régions_d'outre-mer_actuels) too. Some have node networks.
  - `fr-?-971` Guadeloupe  (971)
  - `fr-?-972` Martinique  (972)
  - `fr-?-973` Guyane  (973)
    -  `fr-?-249730045` Communauté d’agglomération du Centre Littoral
    -  `fr-?-249730052` Communauté de communes de l'Est guyanai

[2022-01-29 08:24] pyrog commented on #225
Also, I think that communes shouldn't completely removed from KN.
On the field, we know municipality names, not inter municipality names.

So municipality should be still searchable by name, even if the tree display "only" inter municipalities.

What is simpler, clearer ?
- Keep all municipalities in the tree ?
- Remove them (except the 4 islands) ?

Does keeping municipalities have an impact on d

[2022-02-11 19:59] vmarc commented on #225
@pyrog thanks for your feedback! and sorry for my slow response...

Yes and no.

Yes, keeping the municipalities means more work on the server and extra data in the analysis database. But no, that does not matter too much. The server and database should be able to easily handle that.

Keeping the municipalities has the most impact on the user in the browser when displaying the entire location tree

[2022-02-13 06:25] pyrog commented on #225
Not yet, but we have a new contributor in La Réunion

AFAIK it doesn't (it should have the same geometry as the Rhône department).

Thank you again for your work 😎

[2022-02-21 12:44] aploese opened #255 "allow route names which have a via in the name"
I have the situation where two nodes are connected by two routes,
which I would like to keep as separate routes: The direct route is named
"Oberwasen - Schafsbühl" and the second has a detour to the destination Viehweid and so its called "Oberwasen - (Viehweid) -
Schafsbühl".
https://knooppuntnet.nl/de/analysis/network/13831011/routes
The second will be truncated to "Oberwasen - (Viehweid)".
https

[2022-04-04 16:41] vmarc opened #256 "Monitor long distance routes"
The route monitoring function will allow the user to compare the route geometry of a long distance route in an OpenStreetMap route relation against a given reference geometry.

The reference geometry can be a GPX trace that is uploaded to knooppuntnet, or it can also be the state of the route relation in OpenStreetMap at a given point in time.

The current state of development can be found [here](

[2022-04-06 13:44] pyrog commented on #2
* [Route ? - Les Malrochers](https://knooppuntnet.nl/en/analysis/route/13763334/map)
<img width="33%" src="https://user-images.githubusercontent.com/2158081/161987045-9a7a8a8d-b7ab-45c9-80da-2a5bd1d9fa5d.jpg" /> <img width="33%" src="https://user-images.githubusercontent.com/2158081/161987065-f906b289-0b9f-46bf-bbce-10fcf316d828.jpg" />

* [Route Monnet la Ville](https://knooppuntnet.nl/fr/analysi

[2022-04-08 10:51] pelderson commented on #255
Suggestion: keep the name as it is, but add a via tag with the name of the via location or way. In Knooppuntnet Analysis, the via string can be added in parenthesis, e.g. "Oberwasen - Schafsbühl (via Viehweid)". In Planner output, the name of the route is not shown, but the via string (if present) could be show between the nodes.
The via string could be anything: a place, a way, or in The Netherla

[2022-04-08 11:25] pelderson commented on #218
Value 0 was used in the French pilot for a Named Nodes network. These nodes should now all have lwn_name tags.
The value lwn_ref=0 indicates that a node should have a number but actually doesn't. (lwn_name=0 is not defined as a special tag.)
This should never happen, because the adjacent nodes should have a reference to that number. So even if the node doesn't show its number, it actually has one

[2022-04-08 11:37] pelderson commented on #202
I support this idea! For Analysis, I use the URL to the object, no problem there. For PLanner, I often create a short dummy route and use the output link instead of a URL with coördinates. That's clumsy, and with any application update the itinerary link stops working.

[2022-04-09 08:10] hgcvm opened #257 "Route monitor: "No GPX, so no known deviations" although everything is OK"
The route monitor sometimes says "No GPX, so no known deviations" on the route page itself. For example here: https://experimental.knooppuntnet.nl/en/monitor/groups/GRV/routes/P-GR130-oostcappel
In this case, this route relation matches the GPX file perfectly. So it's a confusing message. As there really is a GPX file.

[2022-04-09 08:14] hgcvm opened #258 "[Feature Request] Route monitor: easy way to start JOSM editor from map page"
For the route monitor. It would be handy if there's a button that opens JOSM when you're on a deviation in the map page. I'm not sure if it's easy to implement or not. Thanks.

[2022-04-18 17:24] pyrog opened #259 "Actual route count is greater than expected"
The fact xxx is raised but the actual route count equal the expected route count.
Note: a [long hiking route](https://www.openstreetmap.org/relation/3290295) (GR) cross this node.

https://knooppuntnet.nl/en/analysis/network/13969007/facts
Node | Expected | Actual
-- | -- | --
[Chênes Clairs](https://knooppuntnet.nl/en/analysis/node/1622504033) | 3 | **4**

https://knooppuntnet.nl/en/analysis/node

[2022-05-02 08:34] pyrog opened #260 "Route A - A with space dash space in the name"
Same as #233.
* [Frontenex - Voie ferrée - Frontenex - Voie ferrée](https://knooppuntnet.nl/fr/analysis/route/13949070/)

Raised 4 facts:
![Capture d’écran 2022-05-02 à 10 24 18](https://user-images.githubusercontent.com/2158081/166205850-1cfd514a-73ed-4903-abf0-236558bdd0f1.png)

[2022-05-10 18:09] pyrog commented on #259
Node [Ferme du Pan](https://knooppuntnet.nl/en/analysis/node/2512611051)
<img width="50%" alt="Network facts" src="https://user-images.githubusercontent.com/2158081/167693962-caa9623b-24c5-4e8d-a2db-74b18bfa2729.png">
<img width="50%" alt="Node" src="https://user-images.githubusercontent.com/2158081/167694056-e470e542-5ce1-4453-90db-a9eceb335bb5.png">

[2022-05-21 21:02] hgcvm opened #261 "Route monitor: Deviation with "-" as length doesn't show on the map"
Not sure what could cause this, but in this example https://experimental.knooppuntnet.be/en/monitor/groups/GRV/routes/P-GR-122-scheldeland/map, there are four segments that don't show up on the map when you click them: 9, 14, 15 and 16. (the ones with a dash a deviation value)

[2022-07-22 16:50] vmarc commented on #246
With the installation of release 4.0, the update of the tiles with the nodes and routes should now be done immediately as the minute diff files are processed.

The background tile generation is still a manual process that happens every couple of weeks.

[2022-07-22 16:50] #246 closed, assigned to vmarc

[2022-07-22 17:00] vmarc commented on #221
With the installation of release 4.0, the IntegrityCheckFailed information in the network page should now match the information in the node page.

[2022-07-22 17:00] #221 closed, assigned to vmarc

[2022-07-22 17:15] vmarc commented on #195
With the installation of release 4.0, the pdf in "Compact" style now includes a colour indicator for the route between nodes. When a route has multiple colours, only the first colour is shown.

![pdf-compact](https://user-images.githubusercontent.com/6596480/180489602-dee61d7f-9153-4b95-adf6-af824074bf76.png)

---

Also, in release 4.0, a new pdf style "Text" has been added. This style includes th

[2022-07-22 17:15] #195 closed, assigned to nobody

[2022-07-22 17:37] vmarc commented on #152
With the implementation of release 4.0, the route monitor proof-of-concept pages are now available in knooppuntnet.nl and knooppuntnet.be. Further development of this feature is tracked in #256.

[2022-07-22 17:37] #152 closed

[2022-07-22 17:43] vmarc commented on #259
With the implementation of release 4.0, the logic around the integrity checks has completely changed. The information in the network facts pages should now match the information in the node pages.

[2022-07-22 17:43] #259 closed, assigned to nobody

[2022-07-22 17:50] vmarc commented on #260
With the implementation of release 4.0, I believe this situation is handled correctly now.

[2022-07-22 17:50] #260 closed, assigned to nobody

[2022-07-22 18:35] vmarc commented on #218
Not sure what to do. Remove all logic for nodes with name "o", or leave as-is?

These are the nodes with name "o" that are still active in the database:

| nr | country | networkType | node |
| --- | --- | --- |  --- |
| 1 | nl | motorboat | [821709393](https://knooppuntnet.nl/en/analysis/node/821709393) |
| 2 | nl | motorboat | [1128054850](https://knooppuntnet.nl/en/analysis/node/1128054850) |
|

[2022-07-22 18:43] #232 closed, assigned to vmarc

[2022-07-24 19:37] pyrog commented on #218
👍

[2022-07-31 09:05] vmarc commented on #202
The "position" query parameter has been added to the url of the map pages.  The url with the position parameter is updated when panning the map or zooming in or out.

For example:

* [planner page with position parameter](https://knooppuntnet.nl/nl/map/cycling?position=51.44373862,4.46624221,13)

* [node page without position parameter](https://knooppuntnet.nl/nl/analysis/node/1181835685/map) (nod

[2022-07-31 09:32] vmarc commented on #223
@pyrog I have been trying to reproduce this problem in browerstack.com without success, do you still see the problem today?

[2022-07-31 09:32] vmarc commented on #216
@pyrog I have been trying to reproduce this problem in browerstack.com without success, do you still see the problem today?

[2022-07-31 09:36] vmarc commented on #211
@pyrog do you still see the problem with the white bar at the bottom in fullscreen?

[2022-07-31 16:25] NicolasGrosjean opened #262 "Actual and Expected are mixed on IntegrityCheckFailed"
You can see the issue in [this network](https://knooppuntnet.nl/en/analysis/network/13436769/facts) and clicking on row to see that the number in the Actual cell is the value of the _expected_lwn_route_relations_ tag.

[2022-07-31 20:19] vmarc commented on #262
Thanks for reporting this issue.

The problem is in [NetworkInfoFactAnalyzer.scala](https://github.com/vmarc/knooppuntnet/blob/develop/server/src/main/scala/kpn/server/analyzer/engine/analysis/network/info/analyzers/NetworkInfoFactAnalyzer.scala) at line 98 and 99. The 'Actual' and 'Expected' arguments are in the wrong order.

[2022-08-01 17:43] vmarc commented on #262
Fixed in code, and regenerated data in database.

---

Before:

![before](https://user-images.githubusercontent.com/6596480/182209867-3bc9a901-e8f4-4544-83bc-4aac0c8e2fc3.png)

---

After:

![after](https://user-images.githubusercontent.com/6596480/182209859-07c9d1ba-e140-410d-b54c-569373273617.png)

[2022-08-01 17:43] #262 closed, assigned to vmarc

[2022-08-03 12:27] lucgential commented on #260
I still have an issue with this one, please have a look: https://knooppuntnet.nl/fr/analysis/route/13542311
For other cases the issue is fixed: https://knooppuntnet.nl/fr/analysis/route/12264240
Thanks for your kind help

[2022-08-03 12:34] pyrog commented on #260
In [La Chapelle Saint-Pierre - La Chapelle Saint-Pierre](https://knooppuntnet.nl/fr/analysis/route/12264240) the node name contain only `-` (dash)😉

In [Les Choseaux - Verneys - Les Choseaux - Verneys](https://knooppuntnet.nl/fr/analysis/route/13542311) the node name contain ` - ` (space dash space)

[2022-08-03 12:46] pyrog commented on #260
[RouteNameAnalyzerTest.scala](https://github.com/vmarc/knooppuntnet/blob/86a48b43de2ff12f99a7ae11d28c93c38fe3ebba/server/src/test/scala/kpn/server/analyzer/engine/analysis/route/analyzers/RouteNameAnalyzerTest.scala#L266) should also test "start - node - EndNode"
[code]

Issue is there ?
https://github.com/vmarc/knooppuntnet/blob/86a48b43de2ff12f99a7ae11d28c93c38fe3ebba/server/src/main/scala/kpn/s

[2022-08-03 12:56] pyrog commented on #260
Note: route [Frontenex - Voie ferrée - Frontenex - Voie ferrée](https://knooppuntnet.nl/fr/analysis/route/13949070/) don't raise an error because the dash was removed from the Node name.

[See version 4](https://knooppuntnet.nl/en/analysis/route/13949070/changes?pageIndex=0&impact=false)
![Capture d’écran 2022-08-03 à 14 55 44](https://user-images.githubusercontent.com/2158081/182613136-a191f257

[2022-08-03 13:15] pyrog commented on #260
Note: In France, city name are "normalised".

- `Saint-Pierre` is a city (Saint Peter's)
- `Saint - Pierre` could be a route from `Saint` to `Pierre` or a place called `Saint - Pierre`
- `Saint-Maurice-Crillat` is the merging of `Saint-Maurice` and `Crillat`
- `Saint-Maurice-Crillat - Saint-Maurice-Crillat` could be a loop around this village (the case of this issue)

[2022-08-10 19:21] vmarc commented on #254
Edit links have been added in various pages in release 4.0.3:

---

Subset facts

![subset-facts-1](https://user-images.githubusercontent.com/6596480/184000242-37083729-7395-450e-9e79-8cf45b3ab878.png)

---

Subset fact detail

![subset-fact-detail-1](https://user-images.githubusercontent.com/6596480/184000386-f876e8c6-cb57-4825-88cd-3349777892ab.png)

---

Location nodes (loads the nodes visible

[2022-08-10 19:21] #254 closed, assigned to vmarc

[2022-08-12 08:30] vmarc commented on #261
@hgcvm thanks for reporting this problem

Fixed in release 4.0.4: deviations with zero length are no longer shown in the deviation list

[2022-08-12 08:30] #261 closed, assigned to vmarc

[2022-08-12 08:35] vmarc commented on #257
@hgcvm thanks for reporting this problem

Fixed in release 4.0.4

Improved information on route details page:

![issue257-details](https://user-images.githubusercontent.com/6596480/184316665-fcae5ce7-3e0d-4a94-b2c8-6f237cd3df67.png)

In addition, improved message on route map page (instead of empty table):

![issue257-map](https://user-images.githubusercontent.com/6596480/184316686-2247156b-0bc5-4

[2022-08-12 08:35] #257 closed, assigned to vmarc

[2022-08-12 08:38] vmarc commented on #258
@hgcvm Thanks for suggesting this improvement

Implemented in release 4.0.4.

A "josm" link has been added, that brings up a menu with options:
- Load route relation
- Zoom to fit route
- Zoom to selected deviation

Example:

![image823](https://user-images.githubusercontent.com/6596480/184317468-9ba95307-a8c9-4f5f-8adf-e2d30f1f7027.png)

[2022-08-12 08:38] #258 closed, assigned to vmarc

[2022-08-12 12:10] vmarc commented on #256
The SGR (Les Sentiers de Grande Randonnée) demo routes have been updated in the database to reflect the situation of 2022-08-11 as documented in the "Suivi des Modifications GR sur OSM.xlsx" spreadsheet.

[2022-08-14 10:05] pyrog opened #263 "Geometries of intermunicipality aren't rendered"
For example, [Pays de Gex agglo](https://knooppuntnet.nl/fr/analysis/hiking/fr/France:Ain:Pays%20de%20Gex%20agglo/map) is missing on the map, but lower level [Mijoux](https://knooppuntnet.nl/fr/analysis/hiking/fr/France:Ain:Pays%20de%20Gex%20agglo:Mijoux/map) or upper level [Ain](https://knooppuntnet.nl/fr/analysis/hiking/fr/France:Ain/map) are rendered.

Related to #225.

[2022-08-14 19:19] vmarc commented on #263
@pyrog thanks for reporting this problem

The problem is in the geojson that describes the  boundary of this location. The geojson for this location contains a GeometryCollection as top level geometry type, whereas the lower level locations contain a single Polygon at the top level.

I still have to further investigate why OpenLayers does not display the GeometryCollection, and whether there are a

[2022-08-14 19:20] vmarc commented on #263
@pyrog thanks for reporting this problem

The problem is in the geojson that describes the  boundary of this location. The geojson for this location contains a GeometryCollection as top level geometry type, whereas the lower level locations contain a single Polygon at the top level.

I still have to further investigate why OpenLayers does not display the GeometryCollection, and whether there are a

[2022-08-15 10:32] StC-OSM opened #264 "[Feature Request] Outlines of administrative entities in the "network map""
When you are doing QA analyses of networks in France, you sometimes need to ask yourself if the connections between networks are at the right place. In 95% of cases this boils down to comparing the network to the outline of an administrative level:  more or less, we have one network per intermunicipality.

Therefore it would be great if the "network map" view could show the outlines of administrat

[2022-08-15 18:06] vmarc commented on #263
Further investigation learns that OpenLayer does support displaying the GeometryCollection type in geojson.

The problem is that many of the location geojsons contain "EPSG:0" as coordinate reference system (1231 locations), which results in OpenLayers not displaying the bounderies for these locations.

The code has been changed to change "EPSG:0" to "EPSG:4326" for these locations.

The previous

[2022-08-15 18:06] #263 closed, assigned to nobody

[2022-08-27 06:00] tastrax opened #265 "Paving stones error"
Hi Folks,

I think these keys and values are incorrect

{
"key": "surface",
"value": "paving_stones",
"object_types": [
"way"
]
},

{
"key": "surface",
"value": "paving_stones:30",
"object_types": [
"way"
]
},

Should they actually be

{
**"key": "paving_stones:length",
"value": "30 cm",**
"object_types": [
"way"
]
},

as per https://wiki.openstreetmap.org/wiki/Tag:surface%3Dpaving_stones

https:/

[2022-08-28 17:06] StC-OSM opened #266 "Misleading display of nodes at network connections"
In https://knooppuntnet.nl/fr/analysis/network/13478859/map?position=45.17319652,5.80409839,13, the two western-most nodes of network "Grésivaudan" (Relais de Romage and Les Combettes) actually do not belong to that network relation. They belong to the network relation "Grenoble-Alpes", and are connected to nodes of "Grésivaudan" by route relations that belong to both network relations with role "

[2022-09-02 18:42] vmarc opened #267 "Use preferred tile.openstreetmap.org URL"
The maps within knooppuntnet use background tiles generated and served by knooppuntnet itself. These background tiles are currently generated at irregular intervals (every two or three weeks or so). For debugging purposes it can be handy to temporarily use more up-to-date background tiles. For this purpose, tiles served from tile.openstreetmap.org can be used.

There is a change in what URL should

[2022-09-02 18:43] #267 closed, assigned to nobody

[2022-09-23 16:03] vmarc opened #268 "[Feature Request] Show node links for RouteUnexpectedNode"
When the analysis generates a fact RouteUnexpectedNode, it would be useful to include links to the nodes that are unexpected. Without such links, it is not so easy to understand what is the basis for generating the RouteUnexpectedNode fact.

[2022-09-27 08:29] Henry00572 commented on #142
I think the SurfaceAnalyzer should also take the tag `cycleway:surface` into account. This is used by StreetComplete on `segregated` `highway`s for `foot`and `bicycle`. Tagging these `highways` with an additional `surface` key would be redundant.

[2022-09-27 19:38] ina-vo opened #269 "Knooppuntnet.be Uitvoer Link ongeldig"
Deze link komt van knooppuntnet.be en werd gekopieerd naar het klembord:

https://knooppuntnet.be/nl/map/hiking?plan=lrsyl6-49cwgb-49cwg4-49cwfq-hupkpb-lvmn1z-49cvvz-lvmmn6-lvmmgh-1cchpa3-26odhbe-ls6vbh-48fwv.2t-26odhbl-xpdr2o-48gdh.1-xpdr2i-16jquvq-lnauuz-e4yyes-e4yyde-e4yyd5-1u3s79p-e4yyb3-lnaveg-lxndsj-6echj6-lsesk8-49gfy6-o7xwz2-lrsyl6

PROBLEEM: **Deze link opent wel de website van knooppuntn

[2022-09-27 21:20] vmarc commented on #269
@ina-vo dankjewel voor het melden van dit probleem, ik ga het verder onderzoeken

[2022-09-27 22:15] vmarc commented on #269
Als ik de link lichtjes aanpas dan gaat het wel goed:

https://knooppuntnet.be/nl/map/hiking?plan=lrsyl6-49cwgb-49cwg4-49cwfq-hupkpb-lvmn1z-49cvvz-lvmmn6-lvmmgh-1cchpa3-26odhbe-ls6vbh-48fwv.2t-26odhbl-xpdr2o-xpdr2i-16jquvq-lnauuz-e4yyes-e4yyde-e4yyd5-1u3s79p-e4yyb3-lnaveg-lxndsj-6echj6-lsesk8-49gfy6-o7xwz2-lrsyl6&position=51.24899715,5.11400681,14

Het probleem zit ergens rond knooppunt 29, maar n

[2022-09-28 17:29] vmarc commented on #269
Resultaat van verder onderzoek:

Het probleem doet zich voor wanneer bij het plannen van een wandeling, een selectie van een route tussen 2 knooppunten A en B direct gevolgd wordt de selectie van knooppunt B.

Dat is mij gelukt door eerst een knooppunt voorbij de route selectie te kiezen, en daarna die selectie terug te slepen naar het eindpunt van geselecteerde route.  Bijvoorbeeld door volgende

[2022-09-28 21:26] vmarc commented on #142
@Henry00572 do you perhaps have some examples of routes with ways with tag `cycleway:surface`? That would be useful for testing.

[2022-09-29 08:07] Henry00572 commented on #142
An example would be https://knooppuntnet.nl/de/map/cycling?plan=37unif-2vneog which goes through https://www.openstreetmap.org/way/428698265. This way has the tags `bicycle=designated` + `foot=designated` + `segregated=yes` + `cycleway:surface=paving_stones` and not `surface=*`.

[2022-09-29 16:12] vmarc commented on #142
The logic of the SurfaceAnalyzer has been changed to  take `cycleway:surface` and `footway:surface` tags into account.

Before:

![way-before](https://user-images.githubusercontent.com/6596480/193082903-102f93a6-ac45-453d-af14-c8a0c069a8a9.png)

After:

![way-after-2](https://user-images.githubusercontent.com/6596480/193083479-ffb2fe30-199f-404a-9903-fd4f641f140b.png)

[2022-09-29 16:33] vmarc commented on #142
As suggested by @jdhoek

the SurfaceAnalyzer now considers the surface to be `unknown` for `highway=path` when there are no further tags from which the surface can be derived. In the following example, the unknown surfaces are displayed in blue (in the production application at this moment they are still displayed in green):

![way](https://user-images.githubusercontent.com/6596480/193087021-fa3d4

[2022-09-29 21:22] vmarc commented on #142
The new legend:

![legend](https://user-images.githubusercontent.com/6596480/193144499-1a17bfb7-7579-4c42-a0e7-9db794290d13.png)

[2022-09-29 21:22] #142 closed

[2022-09-29 21:23] #269 closed, assigned to vmarc

[2022-09-29 21:32] vmarc commented on #268
Updated message for unexpected nodes in the route relation (route 13127488):

![route-unexpected-node](https://user-images.githubusercontent.com/6596480/193145551-a928d971-db24-4815-9d5d-237e9df8cd17.png)

Similarly, for unexpected relations as member in route relation:

![route-unexpected-relation](https://user-images.githubusercontent.com/6596480/193145797-59b8d78e-e024-42d8-8c05-ac6ce93437b2.pn

[2022-09-29 21:32] #268 closed, assigned to vmarc

[2022-11-02 16:06] vmarc opened #270 "Monitor - cannot rename route"
When trying to rename a route, the response is "500 - Internal server error".

In the server log I can see the route update logic trying to read the existing route details using the new name instead of the old name.

[2022-11-03 06:26] pyrog commented on #270
Note: this name is a simple label for humans. Could you allow all? UTF chars (especially space, dash…)

[2022-11-03 06:35] pyrog opened #271 "Monitor - Add URL for reference file"
Currently, the file could be only downloaded.

Could you add a field for an URL, i.e. to download it directly from the official site ?
This is useful for documenting the source of this reference data.

Also, the date of the last downloading is precious (i.e. when the reference file is updated and the name don't change at each new version).

[2022-11-03 11:16] pyrog opened #272 "Monitor - manage roundabouts"
When a roundabout is part of a route, KPN detect a discontinuity and create a new OSM segment.

<img width="75%" alt="Roundabout" src="https://user-images.githubusercontent.com/2158081/199706611-09108017-246d-4e57-ab30-500dd6c4a6f5.png">

In this example, the route is "artificially" cut in 7 segments.
Shortest (2, 4 and 7) are roundabouts.

[2022-11-05 12:05] pelderson opened #273 "[Planner] In 'Last survey date' display, improve visibility for unknown"
When no survey:date is set, routes appear light grey in the PLanner. This makes it hard to see where the unsurveyed routes are. Especially since the coloured routes really stand out.  Could a colour be used which stands out more against the background? Maybe a darker grey would be enough.

The reason I ask is, I plan to do a survey of the network in my neighbourhood, with a group of volunteers, us

[2022-11-05 12:09] pyrog commented on #126
Duplicate of #2 ?

PS: how this route could be **deactivated**?

[2022-11-05 12:12] pyrog commented on #2
[Route 75-75](https://knooppuntnet.nl/en/analysis/route/11858847)
<img width="75%" alt="Screen copy" src="https://user-images.githubusercontent.com/2158081/200119194-96e36e69-f067-453c-b4eb-0ea7991b1132.png">

[2022-11-05 12:17] StC-OSM commented on #2
As far as I remember, I have successfully dealt with three loops "with a stem" in France. By "stem" I mean a path or series of paths that start from a node and lead to where the loop starts and ends. In my understanding, it is by duplicating the way or ways at the beginning and the end of the relation, with roles 'forward' and 'backward', that Knooppuntnet stopped complaining.

[2022-11-05 12:41] pyrog commented on #2
Stem example solved by @StC-OSM : [Route ?-?](https://knooppuntnet.nl/en/analysis/route/14315422)
The "stem" is way "1 — 2".

<img width="50%" alt="Detail" src="https://user-images.githubusercontent.com/2158081/200120260-a1ee9563-cabc-497f-a515-23bb37de05ef.png"><img width="50%" alt="Map view" src="https://user-images.githubusercontent.com/2158081/200120246-d305cd7a-fb1e-4320-bd54-a9fb459ac0fa.png

[2022-11-05 12:52] pelderson opened #274 "[Feature request] Comparison of a source dataset of network Nodes against OSM"
In Nederland, Friso Smits has built a standalone tool (in Python) to compare a dataset of network nodes against OSM. For OSM, the tool needs an export. Currently, the user is recommended to get the OSM nodes dataset (for a region) from Knooppuntnet.
The official dataset we get, I think as as geojson, from the national Routedatabank, we have permission to use the information and an account for osm.

[2022-11-06 07:18] pyrog opened #275 "Handle coordinates in monitor URL"
Add query parameters:
- `?position=46.79618546,5.62757432,15`
- deviation id i.e. `&deviation=2`
- map layers i.e. `&layers=1001`

Part of #202.

<img width="75%" alt="Screen copy" src="https://user-images.githubusercontent.com/2158081/200158777-f7958c6a-58be-432e-a4cd-2492e7df8d4c.png">

[2022-11-06 07:28] pyrog opened #276 "Locale should be optional in URL"
Locale is `nl` in this example:
https://knooppuntnet.nl/nl/analysis/route/12714489/map?position=51.46723229,4.47710314,15

It could be optional, so the web browser choose the user preferences.

Examples:
- https://knooppuntnet.nl/analysis/route/12714489/map?position=51.46723229,4.47710314,15
- https://knooppuntnet.nl/analysis/route/12714489/map?position=51.46723229,4.47710314,15&locale=nl

Part of

[2022-11-06 11:09] pyrog opened #277 "Add geolocation and search control on analysis map"
Could you add controls on the analysis map to easily go to the current location or to a known place (like in Route planner) ?

<img width="33%" alt="Route planner" valign="top" src="https://user-images.githubusercontent.com/2158081/200167084-e13bebce-26d1-460c-b8b6-177501688946.png"> <img width="50%" alt="Analysis" src="https://user-images.githubusercontent.com/2158081/200167116-ad84fa6b-842f-4480

[2022-11-08 17:36] vmarc commented on #265
The tag value _"paving_stones:30"_ has been removed from the surface analyzer logic. The file taginfo.json has been updated accordingly (TagInfoReport), so that knooppuntnet is not listed in the [taginfo](https://taginfo.openstreetmap.org/tags/surface=paving_stones%3A30#projects) page.

[2022-11-08 17:36] #265 closed, assigned to nobody

[2022-11-08 19:45] vmarc commented on #273
Light grey was changed to bright yellow:

![survey](https://user-images.githubusercontent.com/6596480/200660264-ff417f9c-7929-4af2-9856-2da482c37015.png)

[2022-11-08 19:45] #273 closed, assigned to vmarc

[2022-11-08 19:57] #202 closed, assigned to nobody

[2022-11-08 20:03] pelderson commented on #273
That's definitely more visible! Nearly got a shock!

[2022-11-08 21:13] vmarc opened #278 "Monitor - support bicycle routes"
The monitor was added to knooppuntnet to perform quality assurance on long distance walking routes.  For walking routes, the assumption is made that there is a single string of ways from start node to end node.

For bicycle routes, the ways to be followed in one direction are often different from the ways to be followed in the opposite direction. This is the case when passing through roundabouts o

[2022-11-09 11:26] pelderson opened #279 "[Planner] When nodes are close, only one is rendered"
When nodes are close to each other, theay are rendered separately only at high zoom levels. Zooming out, only one remains visible, the other completely disappears and there is no way you can see that it is there.
E.g. https://knooppuntnet.nl/nl/map/hiking?position=51.97330528,4.55130866,16 nodes 19 and 64 visible
vs https://knooppuntnet.nl/nl/map/hiking?position=51.97386455,4.55287131,16 only node

[2022-11-09 12:35] vmarc commented on #279
Perhaps the  concept of _clusters_ in OpenLayers is something to look into for a solution.

- [Dynamic clusters example](https://openlayers.org/en/latest/examples/clusters-dynamic.html)

- [Clustered features example](https://openlayers.org/en/latest/examples/cluster.html)

[2022-11-09 19:14] #225 closed, assigned to vmarc

[2022-11-09 22:24] vmarc commented on #270
The route update logic has been fixed.

About the characters that can be used in the group names and the route names: currently these names can consist of a-zA-Z0-9 and dash (with a maximum length of 15 characters). This naming convention was already in use for the GR routes. At the time it also seemed like a good idea to limit the available characters because the names are used in the url's. But

[2022-11-09 22:39] vmarc commented on #278
@pyrog Thinking a bit further: comparing a GPX track recorded in one direction, against a route definition in OpenStreetMap that includes forward and backward direction will never lead to a 100% match.

The 17 extra OSM segments in [GTJ-Velo](https://knooppuntnet.nl/nl/monitor/groups/fr-nwn/routes/GTJ-Velo/map) are mostly (if not all) a result of this.

[2022-11-11 11:55] vmarc commented on #275
Query parameters added in release 4.0.21.

- mode (comparison/osm-segments)
- reference: show blue line, gpx or osm reference (true/false)
- matches: show green line, reference matches osm relation  (true/false)
- deviations: show red line, reference does not match osm relation (true/false)
- osm-relation: show yellow line, osm relation (true/false)
- selected-deviation (id)
- selected-osm-segment

[2022-11-11 11:55] #275 closed, assigned to nobody

[2022-11-12 09:42] pelderson commented on #279
Problem with these clusters is that they show numbers in circles - exactly what nodes do. This would be highly confusing. Maybe if the cluster wouldn't show a number at all and/or the cluster circle would be clearly different - but I can't tell if that is an option.
Waymarkedtrails just lets the nodes overlap: https://hiking.waymarkedtrails.org/#?map=14.0/51.9822/4.6431 which is totally clear to t

[2022-11-14 08:03] hgcvm opened #280 "Cannot login"
Currently, I cannot login https://knooppuntnet.be/en/login
I'm trying both Firefox and Chromium on Linux.

What information can I provide more to help solve my issue?
Thanks!

[2022-11-14 08:29] vmarc commented on #280
@hgcvm thanks for reporting this problem!

I have tried to logout and login a couple of times, and at first it worked, but now it also fails consistently for me.  In the logfiles I can see that the knooppuntnet web server cannot connect to [openstreetmap.org](https://www.openstreetmap.org/oauth/request_token): _"Connection refused"_.

Need to follow up, perhaps this problem is only temporary and l

[2022-11-14 08:34] hgcvm commented on #280
I must say, now also JOSM gives a network error (connection refused). So most likely not a knooppuntnet issue.

[2022-11-14 13:22] hgcvm commented on #280
Problem is gone. It must have been an OSM issue. Sorry for bothering.

[2022-11-14 13:22] #280 closed, assigned to nobody

[2022-11-19 20:31] hgcvm opened #281 "[monitor] No GPX, so no known deviations, although there is a valid GPX uploaded"
https://knooppuntnet.be/en/monitor/groups/GRV/routes/p61
This one says "No GPX, so no known deviations. ", but I think I uploaded a GPX. So the error message is confusing.
( I couldn't add the gpx here as attachment. Should I email the gpx, or can you find it on the server?)
It's a very very short route.

[2022-11-19 22:39] vmarc commented on #281
The message _"No GPX, so no known deviations. "_ is wrong, and very misleading.

I do see the reference in the database, and also in the [map](https://knooppuntnet.be/en/monitor/groups/GRV/routes/p61/map?mode=comparison&reference=true&matches=false&deviations=false&osm-relation=true&selected-deviation=0&selected-osm-segment=0&position=50.80627171,4.92971166,18): the blue line (in the default setti

[2022-11-20 09:49] hgcvm commented on #281
Similar issue here: https://knooppuntnet.be/en/monitor/groups/GRV/routes/p54

[2022-11-20 10:41] hgcvm commented on #281
https://knooppuntnet.be/en/monitor/groups/GRV/routes/p53
is another example, if this helps.

[2022-11-30 17:15] vmarc opened #282 "Safari JOSM remote control"
The current mechanism for JOSM remote control does not work in a Safari browser with the standard security settings.

An attempt to use the remote control function results in following error message:

[code]

Thanks to @pyrog for reporting this problem (telegram).

[2022-11-30 17:17] vmarc commented on #282
A test shows JOSM remote control can be made to work in the Safari browser by opening the JOSM links in a separate browser tab.

Although remote control works this way, there is no way for the knooppuntnet application to know whether JOSM has accepted the command, or even whether JOSM has been started and has remote control enabled.  There is some feedback in the second browser tab where the "OK"

[2022-11-30 17:20] vmarc opened #283 "Monitor - route relations with sub-relations"
In following example, the monitor reports an extra obsolete segment for the way to the abbey. The red and blue arrows represent 2 sub relations that stop and start at the abbey. So the hike is continuous and no obsolete segment should be reported.

![img](https://user-images.githubusercontent.com/6596480/204864998-7d2c6177-17d5-4a91-b429-35807bdda0a0.png)

Thanks to @pyrog for reporting this probl

[2022-11-30 17:29] vmarc commented on #283
Today the logic for relations with sub-relations is to simply throw all ways from all relations together and treat it as one route. The intention is to change this so that the sub-relations are analyzed separately. This way the above example should come out ok.

Performing separate analysis per sub-relation is expected to also reduce the use of resoures on the server (both time and memory use).  E

[2022-11-30 17:35] vmarc opened #284 "Monitor - ignore places of worship"
Some route relations (for example [Voie-Toulouse](https://knooppuntnet.nl/en/monitor/groups/fr-iwn-Camino/routes/Voie-Toulouse/map)) include several (a lot!) of members with the role _place_of_worship_. These are reported as unwanted separate osm segments in the monitor analysis result.

Example:

![img_1](https://user-images.githubusercontent.com/6596480/204867289-d24afeb7-576e-44d7-b92e-3db881bb